name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    timeout-minutes: 10
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install python pre-requisites
        run: python -m pip install -U pip nox pipx
      - name: Install poetry
        run: pipx install poetry
      - name: Build and deploy
        run: nox -s deploy
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.pypi_token }}
